version: "3.9"
services:
  user_service:
    build: ./user_service
    ports:
      - "10002:10002"
    environment:
      - PORT=10002
      - FROM_PHONE=${FROM_PHONE}
      - TWILIO_ACCOUNT_SID=${TWILIO_ACCOUNT_SID}
      - TWILIO_AUTH_TOKEN=${TWILIO_AUTH_TOKEN}
      - VERIFY_SERVICE_SID=${VERIFY_SERVICE_SID}
  mongodb:
    image: 'mongo:5'
    restart: always
    volumes:
      - ./mongo-volume:/data/db
  redis:
    image: redis
    ports:
      - "6379:6379"