version: "3.9"
services:
  reverse-proxy:
    image: nginx:latest
    ports:
      - "80:80"
#      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - ./reverse_proxy/nginx.conf:/etc/nginx/nginx.conf/
#      - "./config/:/config/"
#    networks:
#      - some-network

  user_service:
    build: ./user_service
    ports:
      - "10002:80"
    expose:
      - 10002
    environment:
      - PORT=10002
      - FROM_PHONE=${FROM_PHONE}
      - TWILIO_ACCOUNT_SID=${TWILIO_ACCOUNT_SID}
      - TWILIO_AUTH_TOKEN=${TWILIO_AUTH_TOKEN}
      - VERIFY_SERVICE_SID=${VERIFY_SERVICE_SID}
      - VK_ACCESS_TOKEN=${VK_ACCESS_TOKEN}
#    networks:
#      - some-network
#
  auth_service:
    build: ./auth_service
    expose:
      - 10001
    ports:
      - "10001:80"
#    environment:
#      - PORT=10001

  api_gateway:
    build: ./api_gateway
    ports:
      - "10003:80"
#    environment:
#      - PORT=10003
#    expose:
#      - 10002
#    networks:
#      - some-network
    depends_on:
      - user_service
      - auth_service


  mongodb:
    image: 'mongo:5'
    restart: always
    volumes:
      - ./mongo-volume:/data/db
#    networks:
#      - some-network

  redis:
    image: redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes --replica-read-only no
#    networks:
#      - some-network

#networks:
#  some-network:
#    driver: bridge